.filtros{
  padding: 2em 3em;
  p{
    font-weight: 600;
    color: #FFBD6C;
  }
  label{
    font-weight: 500;
    color: #997141;
    text-transform: capitalize;
  }
  .button-mostrar-mas{
    border: none;
    border-radius: 10px;
    background-color: #E6AA61;
    color: white;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 5px;
  }
}